@import url('./fonts.css');

/* 자료검색 만들 때 아이콘 추가 */
@import url('./fontello.css');

*, *::before, *::after{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
    position: absolute;
    /* 1. 위로튀어버리는 문제로 사용X */
    /* top: -9999em; */
    
    /* 2. 작은 점으로 만들면서 overflow:hidden해서 넘치는거 안보이게 한다. */
    /* 1px이라도 크기를 안주면 리더기가 요소를 읽을 수가 없다. */
    width: 1px;
    height: 1px;
    margin: -1px; /* Negative margin에 대해서도 찾아봐라 */
    clip-path: polygon(0 0, 0 0, 0 0); /* 더이상 점이 보이지 않는다. */
    clip-path: inset(50%); /* 정중앙을 가리켜서 안보인다. 근데 구형브라우저는 안될 수 있다.*/
    clip: rect(0, 0, 0, 0); /* 구형 브라우저 위해 */
    clip: rect(0 0 0 0); /* IE호환을 위해 */
    overflow: hidden;
}

body{
    font-family: 'Spoqa Han Sans Neo', sans-seif;
    font-weight: 400;
    margin: 0;
}
/* 바로가기 */
/* FIXME: 안된다  */
.skip-navigation {
    position: fixed;
    width: 100%;
    background: #000;
    text-align: center;
    z-index: 10;
}
.skip-navigation a{
    display: block;
    position: absolute;
    padding: 15px;
    color: #fff;
    font-size: 0.875rem;
    width: 1px;
    height: 1px;
    margin: -1px; 
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%); 
    overflow: hidden;
}
.skip-navigation a:foucs {
    position: fixed;
    width: auto;
    height: auto;
    margin: initial;
    clip: initial;
    clip-path: initial;
    display: inline-block;
    outline-offset: -10px;
}

.container{
    /* background: url(./images/bg_flower.png) no-repeat 50% 0 fixed; x축으로만 가운데 정렬, fixed는 스크롤 내렸을 때 배경이 고정되게 만들었다. */
    background: url(./images/bg_flower.png) no-repeat 50% 0,  linear-gradient(#ccc 0%,  #eee 35%, #eee 50%, #fff 100%);
    background-color: #999;
}
.button {
    width: 100px;
    height: 40px;
    margin: 30px auto;
}

.header, .visual, .main, .slogan{
    width: 940px;
    margin: 0 auto;
    height: 120px;
}
.header {
    background-color: white;
    position: relative;
    padding: 0 30px;
    border-radius: 0 0 15px 15px;
}
.logo {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 45px;
    left: 65px;
    font-size: 1rem; 
    line-height: 1; 
}
.logo a, .logo img{
    display: block;
}
.member-service {
    /* display: flex;
    justify-content: flex-end; */
    list-style: none;
    margin:0;
    padding-left: 0;

    font-size: 0;
    line-height: 0;
    text-align: right;
    padding: 2px 0; /* tap으로 윤곽선 돌아다닐 때 윤곽선이 깔끔하게 보이게 함 */
    position: relative;
    right: -10px;
}
.member-service li {
    display: inline-block;
    /* 0.75*16 = 0.75rem */
    font-size: 0.875rem;
    line-height: 1.15;
}
.member-service li:nth-child(n+2)::before {
    content: ":";
}
.member-service a {
    display: inline-block; /* padding 주기 위해 inline-block 처리*/
    padding: 8px;
}
/* 메인 메뉴 */
.navigation {
    padding: 5px 0 45px;
    padding-bottom: 55px;
}
.menu {
    /* background-color: orange; */
    margin: 0;
    padding-left: 225px;
    list-style: none; /* list-style-type 단축 */
    height: 45px; /* 크기가 변동 될 가능성이 없는 컴포넌트라고 판단되서 높이 고정 */
    /* margin-bottom: 50px; >> navigation에 padding-bottom을 준다.*/
    box-shadow: 0 -2px 0 0 #000;
    background-image: linear-gradient(-45deg, red 0, red 60%, green);
    background: #ff8300 linear-gradient(to bottom, #ffb76b 1%,#ff8300 35%,#ff8300 70%,#ffb76b 100%);
    border-radius: 0 0 5px 5px;
}
.menu-item {
    float: left;
    height: 100%;
    position: relative; /* 하위 메뉴를 위해 부모를 여기로 */
}
.menu-button {
    cursor: pointer;
    border: 0;
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    padding: 0 19px;
    /* 부모 높이만큼 높이 주기 */
    line-height: 45px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    font-size: 1.0625rem; /* 17/16 alt+cmd + y */
    text-shadow: -1px -1px 0 #000; /* 텍스트 쉐도우는 세번째 블러까지만 들어간다. */
    text-shadow: 1px 1px 0 #000; /* 텍스트 쉐도우는 세번째 블러까지만 들어간다. */
}
.menu-item.is-active .menu-button { /* 붙여써야 한다. */
    color: #ff0; /* 부모한테 노란색을 줬지만 자식에서 흰색이 되서 cascading 된 것 */
    /* border-bottom: 1px solid black; */
    text-decoration: underline #000;
    text-underline-offset: 15px;
}
.menu-item.is-active .menu-button::after { /* 붙여써야 한다. */
    content:'';
    display: block; /* 인라인이 아니라 블럭으로 해야 줄바꿈 */
    /* border-top: 1px solid black; */
    height: 2px;
    background-color: #000;
}
/* 서브 메뉴 */
.sub-menu {
    position: absolute;
    top: 50px;
    /* left: 0; 묻고 답하기의 경우 하위메뉴가 길어서 전체 주는 것은 좋지 않다. */
    display: none;
    margin: 0;
    padding-left: 0;
    list-style: none;
    white-space: nowrap; /* 줄바꿈 금지. 이제 묻고답하기 하위메뉴들이 한줄로 잘 나온다. */
}
.sub-menu li {
    display: inline-block;
}
.sub-menu a{
    display: inline-block;
    padding: 8px 0;
    margin-right: 10px;
}
/* 일반 상태 */
.sub-menu a:hover, .sub-menu a:focus {
    color: red;
}
.sub-menu a:before {
    content: '\f192'; /* fontello.css 맨밑에서 확인 */
    font-family: 'fontello';
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
/* 마우스를 올렸을 때나 tap으로 포커스했을 때 */
.sub-menu a:hover::before, .sub-menu a:focus::before{
    content: '\e800';
}

/* .menu-qna {
    display: block;
} */
.is-active .sub-menu {
    display: block;
}
.menu-html, .menu-css, .menu-standards{
    left: 0;
}
.menu-accessibility, .menu-qna, .menu-archive {
    right: 0; /* 묻고답하기 칸 오른쪽 칸을 기준으로 됬다. */
    /* 한줄로 안되는 것을 방지하기 위해 .sub-menu */
}
@keyframes moveEffect {
    /* from{
    }
    to{
    } */
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 75px);
    }
}
@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.visual{
    height: 120px;
    position: relative;
}
.visual::before, .visual::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    animation: fadeEffect 2000ms infinite alternate;
}
.visual::before { /*위 공통적인 사항은 따로 뺀다.*/
    background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);/* 사진이 넘어가니까 x좌표 변경 */
    background-position: 0 -10px, 670px, 0;
}
.visual::after {
    background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);/* 사진이 넘어가니까 x좌표 변경 */
    background-position: 300px 0, 800px 0;
    animation-delay: 1000ms;
}

.visual-text {
    display: inline-block; /* transform 되더라도 딱 블럭에 맞게 된다. */
    animation-name: moveEffect;
    animation-duration: 3000ms; /* 필수 속성 */
    animation-fill-mode: forwards; /* 안끝나게 */
    margin: 0;
}
.main{
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    display: flow-root;
    padding: 30px 15px;
    min-height: 750px;
}
.group{
    margin: 0 15px;
}
.group1{
    /* background-color: #d5cfe1; */
    float: left;
    width: 250px;
}
.group2{
    float: left;
    width: 380px;
}
.group3{
    float: left;
    width: 190px;
}

/* 로그인 */
/* legend는 보일필요가 없기 때문에 위 a11y-hidden 쪽에 추가해줬다. */
.login {
    background: radial-gradient(circle at right top, #e8882e, #e85b2c);
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #ccc;
    padding: 10px;
}
.login-heading {
    color: yellow;
    margin: 0 0 10px 10px;
    font-size: 1rem; /* 기본값으로 1.5rem이 있기 떄문에 1로 바꿔줌 */
}
.login-form {
    background-color: #fff;
    padding: 10px 10px 0 10px;
    border-radius: 5px 5px 0 0;
}
.login fieldset {
    padding: 0 0 10px 0;
    border: 0;
    background-color: white;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.user-password {
    margin-top: 5px;
}
.login-form label {
    font-size: 0.8125rem; /* 13/16 */
    width: 4em;
    display: inline-block
}
.login-form input {
    width: 95px;
    height: 22px;
    border: 1px solid #ccc;
    padding-left: 0.5em;
}
.button-login {
    position: absolute;
    top: 0;
    right: 0;
    background-color: orangered;
    border: 1px solid rgb(255, 77, 0);
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 50px;
}
.sign {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 0 0 5px 5px;
    font-size: 0.8125rem; /* 13/16 하면 13px/16px이다 */
}
.sign::after {
    content: "";
    display: block;
    clear: both;
}
.sign a::before{
    content: '\e803';
    color: rgb(241, 95, 16);
    font-family: 'fontello';
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.signup {
    float: left;
}
.find {
    float: right;
}
/* 유효성 검사 배너 */
.validation-list {
    margin:20px 0;
    list-style: none;
    padding-left: 0;
    margin: 25px 0 0 0;
}
.validation-list a:hover, .validation-list a:focus {
    color: red;
}
.validation-list li a {
    background: url(./images/validation_icon.png) no-repeat 15px 50%, linear-gradient(to bottom, #ccc, #eee);
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 20px;
    display: block;
    padding: 10px 10px 10px 45px;
}

/* 웹 관련 용어 */
/* .web-memo {
    padding: 10px;
    background-color: lightgray;
}
.web-memo img {
    float: left;
    padding: 10px;
}
.web-memo span {
    font-size: 14px;
}
.web-memo::after {
    content:'';
    display: block;
    clear: both;
} */

/* 웹 관련 용어 - float이용 */
/* 연습2 */
.term { /* 그라디언트 지원하지 않을때 fallback칼라 */
    background: #ccc linear-gradient(#ccc, #eee);
    border: 1px solid #aaa;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}
.term-heading {
    margin: 0;
    font-size: 1rem; /* 글자 기본크기 16px. */
}
.term-list:after {
    content: "";
    clear: both;
    display: block;
}
.term-list dd {
    margin-left: 0;
}
.term-list-subject {
    width: 145px;
    float: left;
    color: #277684;
    line-height: 1;
    margin-bottom: 5px;
}
.term-list-brief {
    /* 업데이트 관점에서 margin-right보다 width가 낫다. */
    font-size: 0.875rem; /* 14/16 해서 글자크기를 줄여준다. */
    width: 145px;
    float: left;
    line-height: 1.2;
}
.term-list-thumbnail {
    float: right;
}
.term-list-thumbnail img{
    vertical-align: top;
}
/* even */
.term-list > div::after {
    content: "";
    display: block;
    clear: both;
}
.term-list > div {
    margin: 10px 0;
}
.term-list {
    /* 과하게들어갔던 기본 마진 재정의 */
    margin: 10px 0  0 0; 
}
.odd {
    margin-bottom: 10px;
}
.even .term-list-subject {
    float: right;
}
.even .term-list-brief {
    float: right;
}
.even .term-list-thumbnail {
    float: left;
}

/* 2열 */
/* .search {
    background: lightgray linear-gradient(rgb(213, 213, 213), white);
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    text-align: center;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.search_detail {
    padding: 16px 0 10px 0;
}
.search_text::before {
    content: '\e802';
    font-family: 'fontello';
    font-weight: normal;
    padding-right: 5px;
}
.search input {
    border-radius: 2px 2px 2px 2px;
    width: 180px;
    height:24px;
    margin: 0 10px 0 10px;
}
.search button {
    background-color: black;
    color: white;
} */

.search-form {
    background: #ccc linear-gradient(#ccc, #eee);
    padding: 15px 25px 10px 15px;
    border: 1px solid #aaa;
    border-bottom-color: white; /* 이 부분 배경이 흰색이어서 흰색 선으로 없애줌*/
    border-radius: 15px 15px 0 0;
    font-size: 0.875rem;
}
/* 전체 선택은 적절하지 않으나 시간상 전체 선택하기 위해 쓴다. */
/* 중요하다. 가운데 정렬 */
.search-form *{
    vertical-align: middle;
}
.search-form fieldset {
    /* fieldset 화면에 없는 것처럼 초기화 */
    border: 0;
    margin: 0;
    padding: 0;
}
.search-form label {
    line-height: 1;
}
.search-form input {
    /* webkit같은 접두사는 autoprefixer로 나중에 붙여줄 수 있다. */
    appearance: none;
    border: 1px solid #aaa;
    height: 22px;
    border-radius: 2px;
    padding: 1px 1px 1px 5px;
    margin:0 10px;
    /* flex니까 다른걸로 길이를 늘려도 되지만 여기서는 고정할꺼라 width */
    width: 199px;
}
/* clear버튼 없애주기 */
/* .search-form input::-ms-clear{
    display: none;
} */
.button-search {
    border: 0;
    padding: 0 10px ;
    background: #000;
    color: white;
    /* 일반적으로는 패딩으로 하는게 좋으나 여기서는 그냥  높이 쓰겠다. 패딩이 유동적이라 좋다.*/
    height: 22px;
    font-size: 0.75rem;
    border-radius: 2px;
}

/* 공지사항 및 자료실 */
.board {
    margin-top: 20px;
    position: relative;
    height: 200px;
}
.board ul, .board .more{
    display: none;
}
.is-active ul, .is-active .more {
    display: block !important;
}
.board .tab {
    position: absolute;
    top: 0;
    /* 그라디언트 지원방지 콜백 색상 정해주기  */
    background: #ccc linear-gradient(to bottom, #ccc, #eee);
    color: #666;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    font-size: 0.875rem;
}
.is-active .tab {
    background: #fff !important;
    color: #e85b2c;
    /* 아래쪽이 흰색선 */
    border-color: #e85b2c #e85b2c #fff #e85b2c;
}
.notice .tab {
    left: 0;
}
.pds .tab {
    left: 69px;
}
.board ul {
    padding: 35px 0 0 0;
    list-style: none;
    margin: 0;
}
.board li {
    margin-top: 10px;
    font-size: .875rem;
    display: flex;
}
.board ul a {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.board .more {
    position: absolute;
    /* padding 넣은만큼 당겨준다. */
    top: -8px;
    right: -8px;
    /* hover했을 때 넓게 클릭되게 */
    padding: 8px;
}
/* 공통이니까 여기에 넣어둔다. */
.more {
    font-size: 0.875rem;
}
.more .icon-plus {
    color: hsla(110, 70%, 30%, 1);
}

/* 새소식 */
.news {
    margin-top: 20px;
    position: relative;
}
.news-heading {
    margin: 0 0 35px;
    /* 안줘도 된다. */
    font-weight: 700;
    font-size: 0.9375rem;
    color: orangered;
}
.news::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #ccc, #eee, #fff);
}
.news-link {
    display: block;
}
.news-article {
    font-size: 0.875rem;
    padding-left: 130px;
    position: relative;
}
.news-article-subject {
    margin: 0 0 3px;
    /* 안줘도 된다. */
    font-weight: 700;
    /* 직접줘서 user-agent값을 바꿀 수 있게 한다. */
    font-size: 0.875rem;
    /* 상속받게 하기 */
    font-size: inherit;
    padding-bottom:1px;
}
.news-article-date {
    padding-bottom:10px;
}
.news-article-brief {
    margin: 10px 0 0 0;
    /* 1.5배 */
    line-height: 1.5; 
}
.news-article-thumbnail {
    margin: 0;
    position: absolute;
    top:2px;
    left:0px;
    text-align: center;
}
.news-article-thumbnail img{
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}
.news-article-thumbnail figcaption {
    margin-top: 15px;
}
.news .more {
    position: absolute;
    top:-8px;
    right:-8px;
    padding: 8px;
}

/* 슬로건 */
.slogan{
    background-color: limegreen ;
}
.footer{
    background-color: violet;
}

