@import url('./fonts.css');
*, *::before, *::after{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
/* 숨김 콘텐츠 */
.a11y-hidden {
    background-color: red;
    position: absolute;
    /* 1. 위로튀어버리는 문제로 사용X */
    /* top: -9999em; */
    
    /* 2. 작은 점으로 만들면서 overflow:hidden해서 넘치는거 안보이게 한다. */
    /* 1px이라도 크기를 안주면 리더기가 요소를 읽을 수가 없다. */
    width: 1px;
    height: 1px;
    margin: -1px; /* Negative margin에 대해서도 찾아봐라 */
    clip-path: polygon(0 0, 0 0, 0 0); /* 더이상 점이 보이지 않는다. */
    clip-path: inset(50%); /* 정중앙을 가리켜서 안보인다. 근데 구형브라우저는 안될 수 있다.*/
    clip: rect(0, 0, 0, 0); /* 구형 브라우저 위해 */
    clip: rect(0 0 0 0); /* IE호환을 위해 */
    overflow: hidden;
}

body{
    font-family: 'Spoqa Han Sans Neo', sans-seif;
    font-weight: 400;
    margin: 0;
}
.container{
    background-color: gray;
}
.header, .visual, .main, .slogan{
    width: 940px;
    margin: 0 auto;
}
.header {
    background-color: white;
    position: relative;
    padding: 0 30px;
    border-radius: 0 0 15px 15px;
}
.logo {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 45px;
    left: 65px;
    font-size: 1rem; 
    line-height: 1; 
}
.logo a, .logo img{
    display: block;
}
.member-service {
    /* display: flex;
    justify-content: flex-end; */
    list-style: none;
    margin:0;
    padding-left: 0;

    font-size: 0;
    line-height: 0;
    text-align: right;
    padding: 2px 0; /* tap으로 윤곽선 돌아다닐 때 윤곽선이 깔끔하게 보이게 함 */
    position: relative;
    right: -10px;
}
.member-service li {
    display: inline-block;
    /* 0.75*16 = 0.75rem */
    font-size: 0.875rem;
    line-height: 1.15;
}
.member-service li:nth-child(n+2)::before {
    content: ":";
}
.member-service a {
    display: inline-block; /* padding 주기 위해 inline-block 처리*/
    padding: 8px;
}
/* 메인 메뉴 */
.navigation {
    padding: 5px 0 50px;
    padding-bottom: 55px;
}
.menu {
    background-color: orange;
    margin: 0;
    padding-left: 225px;
    list-style: none; /* list-style-type 단축 */
    height: 45px; /* 크기가 변동 될 가능성이 없는 컴포넌트라고 판단되서 높이 고정 */
    /* margin-bottom: 50px; >> navigation에 padding-bottom을 준다.*/
    box-shadow: 0 -2px 0 0 #000;
}
.menu-item {
    float: left;
    height: 100%;
}
.menu-button {
    border: 0;
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    padding: 0 19px;
    /* 부모 높이만큼 높이 주기 */
    line-height: 45px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    font-size: 1.0625rem; /* 17/16 alt+cmd + y */
    text-shadow: -1px -1px 0 #000; /* 텍스트 쉐도우는 세번째 블러까지만 들어간다. */
    text-shadow: 1px 1px 0 #000; /* 텍스트 쉐도우는 세번째 블러까지만 들어간다. */
}
/* 서브 메뉴 */
.sub-menu {
    position: absolute;
    display: none;
}
.sub-menu li {
    float: left;
    margin-right: 10px;
    background-color: purple;
}
.visual{
    background-color: #2a9d8f;
}
.main{
    background-color: #e9c46a;
    display: flow-root;
    padding: 30px 15px;
    min-height: 450px;
}
.group{
    margin: 0 15px;
}
.group1{
    background-color: #d5cfe1;
    float: left;
    width: 250px;
}
.group2{
    background-color: olive;
    float: left;
    width: 380px;
}
.group3{
    background-color: brown;
    float: left;
    width: 190px;
}
.slogan{
    background-color: limegreen ;
}
.footer{
    background-color: violet;
}