@import url('./fonts.css');
*, *::before, *::after{
    /* CSS3에서 재정의 콜론 2개 : 가상 요소 선택자, 
    콜론 1개 : 가상 클래스(수도 클래스) 선택자 */
    /* 콜론 2개를 하나만 써서 레벨2부터 지원해서 가능하긴하다 */

    /* width에 패딩과 border를 포함한다. 마진은 포함하지 않는다. */
    box-sizing: border-box;
}
a {
    text-decoration: none;
    /* 부모가 가지고 있는 색 적용하겠다. */
    color: inherit;
}
body{
    /* 산스 세리프 : 고딕계열. 네트윅 이슈로 다운받지 못했으면 시스템에 sans-serif 가져와달라.*/
    font-family: 'Spoqa Han Sans Neo', sans-seif;
    font-weight: 400;
    margin: 0;
}
.container{
    background-color: gray;
}
/* width를 container에 넣었더니 footer에서 전체 그라데이션을 넣기 힘들다.
절대 마크업 구조를 바꾸지 말자. */

.header, .visual, .main, .slogan{
    width: 940px;
    margin: 0 auto;
}
.header {
    background-color: white;
    position: relative;
    border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 45px;
    left: 65px;
    font-size: 1rem; /* 현재 폰트크기 만큼 */
    line-height: 1; /* 현재 폰트크기 만큼 */
}
.logo a, .logo img{
    display: block;
}
/* 안내링크 */
.member-service {
    background-color: yellow;
    /* display: flex;
    justify-content: flex-end; */
    list-style: none;
    margin:0;
    padding-left: 0;

    font-size: 0;
    line-height: 0;
    text-align: right;
    padding: 2px 0; /* tap으로 윤곽선 돌아다닐 때 윤곽선이 깔끔하게 보이게 함 */
}
.member-service li {
    display: inline-block;
    /* 0.75*16 = 0.75rem */
    font-size: 0.875rem;
    line-height: 1.15;
}
.member-service li:nth-child(n+2)::before {
    content: ":";
}
.member-service a {
    display: inline-block;
    padding: 8px;
}
.visual{
    background-color: #2a9d8f;
}
.main{
    background-color: #e9c46a;
    display: flow-root;
    padding: 30px 15px;
    min-height: 450px;
}
/* .main::after {
    content: '';
    display: block;
    clear: both;
} */
/* .clearfix {
    clear:both;
} */
.group{
    /* height: 30vh; */
    margin: 0 15px;
}
.group1{
    background-color: #d5cfe1;
    float: left;
    width: 250px;
}
.group2{
    background-color: olive;
    float: left;
    width: 380px;
}
.group3{
    background-color: brown;
    float: left;
    width: 190px;
}
.slogan{
    background-color: limegreen ;
}
.footer{
    background-color: violet;
}