@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);
@import url(./reset.css);
/* 노멀라이즈 다음에 리셋을 불러야 된다. */

:root {
    --gray: #E0E0E0;
    
    /* 전체칠해질 배경색상 */
    --silver: #f5f5f5;
    --tomato: #CD5C5C;
    --coral: #ED8E7C;
    --green: #CDF3A2;
    --violet: #9B72AA;
    --pink: #FFC0CB;
    --yellow: #FFE194;
    --blue: #2e437c;
    --cyan: #4CA1A3;
    --black: #0f0f0f;
    --black2: #464646;

    /* 변수가 변수에 재할당. 우리페이지에 대표 칼라라고 정하는 것 */
    --primary: var(--blue);
}
body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.container {
    /* background-color: var(--gray); */
    
}
.header {
    /* background-color: var(--pink); */
    display: flex;
    flex-flow: row nowrap;
    /* 수직 가운데 정렬 */
    align-items: center;
}
/* 헤더 */
.header {
    /* background-color: var(--pink); */
    display: flex;
    flex-flow: row nowrap;
    /* 패딩때문에 header는 늘어나서 height 지워도 된다. */
    /* height: 50px; */
}
/* 브랜드 로고*/
.brand {
    /* font-size 아까 2배였기 때문에 1em으로 해놨다. */
    font-size: 1em;
    /* background-color: var(--yellow); */
    /* 140/375; => 양쪽에 패딩이 포함된 값이어야 되니까 36+140 = 176/375*/
    width: 46.93333333333333%;
    /* 이 이상으로는 안늘어나게 하겠다. */
    max-width: 200px;
}
.brand a{
    /* block으로해도 됌 */
    display: inline-block;
    /* padding: 18px/16px; */
    padding: 1.125rem;
}
.header-conatiner {
    border-bottom: 1px solid var(--gray);
}
.ediya-menu {
    /* 방법1 음료영역차지 면적 */
    /* 339/375 */
    /* 90.4% */
    
    /* 방법2 여백을 빼고 */
    /* 18/16 */
    /* 양쪽 여백을 하고 채우는것도 나쁘지 않다. */
    /* 1.125rem */
    display: flex;
    flex-flow: row wrap;
    /* 사이사이에만 gap넣기 */
    gap: 1.125rem;
}
.ediya-menu__item {
    background-color: pink;
    /* 확대도 되고 축소도 된다. 기본이 되는크기 40% */
    flex: 1 1 40%;
    position: relative;
}
.ediya-menu__item a{
    /* 초점같은 문제 방지 */
    display: block;
    /* figure에 해도되고 a해서 상속되게 해도 된다. */
    background-color: var(--gray);
    color: var(--black2);
}
.ediya-menu__item figure {
    margin: 0;
    display: flex;
    padding-top: 1.125rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.ediya-menu__item img {
    /* 크기를 좀 줄일 것. 15%줄인다. */
    transform: scale(0.85);
    transition: all 400ms ease;
    /* 이미지에서 범위잡는거 방지 */
    -webkit-user-select: none;
    user-select: none;
    vertical-align: top;
}
.ediya-menu__item figcaption {
    /* 45/16 */
    margin-bottom: 2.812rem;
}
.ediya-menu__item a:hover img {
    transform: scale(1);
}

.ediya-menu__item--detail {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray);
    /* 30px -> 1.875rem*/
    padding: 1.875rem 1.25rem;

    /* ✨ 하단으로 배치하기 */
    display: flex;
    flex-flow: column nowrap;

    transition: all 400ms ease;
}
.ediya-menu__item--detail.is-active {
    /* 서서히보이도록 처리할 때 */
    /* 위에 트랜지션 넣어줘야함 */
    opacity: 1;
}

.ediya-menu__item--name {
    color: #202022;
    font-size: 1.125rem;
    /* 18px */
    padding-bottom: 1.125rem;
    border-bottom: 2px solid currentColor;
}
/* 언어가 영문인 속성 찾기 */
.ediya-menu__item--name [lang="en"] {
    display: block;
    /* 14px/16px */
    font-size: 0.875rem;
    color: var(--gray);
}
.ediya-menu__item--detail p {
    line-height: 1.5;
    
    /* ✨ 하단으로 배치하기 */
    flex-grow: 1;
}
.ediya-menu__item--multi-column {
    background-color: var(--silver);
    column-count: 2;
    column-rule: 1px solid var(--black2);
    /* 1. 기존에는 position으로 했다. */
    /* position: absolute;
    left: 0;
    width: 100%;
    bottom: 0; */

    /* ✨ 하단으로 배치하기 */
    margin: 0 -1.25rem -1.875rem;
}
.ediya-menu__item--multi-column dl {
    margin: 0;
    /* float요소 부모에게 overflow: hidden; 줘서 after에 content, block써서 묶는 방법아니여도 된다. */
    overflow: hidden;
}
.ediya-menu__item--multi-column dt {
    float: left;
    width: 40%;
    /* margin-right: 10%; */
    margin-left: 10%;
    margin-top: 0.5em;
}
.ediya-menu__item--multi-column dd {
    margin-left: 0;
    float: left;
    width: 40%;
    margin-right: 10%;
    margin-top: 0.5em;
}
.ediya-menu__item--detail .button-close-panel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--gray);
}

/* 모바일 =================================*/
@media screen and (max-width: 767px) {
    .header {
        justify-content: space-between;
    }
    .header .button-open-menu {
        user-select: none;
        padding: 0;
        background-color: #fff;
    }
    /* 벌써 구체성점수가30점 나중에 30점 이상해야 속성바꿀 수 있게 되는데
    그래서 요즘 BEM네이밍 패턴 선호. 클래스이름 하나로 선택하기편하게. */
    .header .button-open-menu .ir {
        /* span은 크기를 가질 수 없으니 */
        display: block;
        /* width: 50px;
        height: 50px; */
        /* 50/16 */
        width: 3.125rem;
        height: 3.125rem;
        /* 벡터이미지니까 하나만 가도 된다. */
        /* png를 사용하면 2배일 때, 1배일 떄 고려해야한다. */
        background-image: url(./../images/button-navigation.svg);
        background-repeat: no-repeat;
        transition: all 300ms ease;
    }

    /* 포커스갔을 때 색 바꾸게 */
    .header .button-open-menu:hover .ir {
        background-color: #f5f5f5;
        /* x, y는 그대로 블러랑 스프레드 */
        box-shadow: 0 0 1px 1px #eee;
    }

    /* button눌렀을 때 나오는 메뉴리스트 */
    .navigation {
        /* display임시 none */
        /* >> 작업을 위해 다시 none을 주석처리 */
        /* display: none; */
        background-color: hsla(225, 57%, 10%, 0.9);
        /* static위에 fixed가 올라가서 배경이 겹쳐진다 */
        position: fixed;
        top: 0;
        left: 0;
        /* 가로크기도 100vw써도 된다. 100%도 상관없음 */
        width: 100%;
        height: 100vh;
        color: #fff;
        /* 멀리 띄어지게. 정확한 값 필요없음. */
        padding-top: 3.5rem;
        /* X눌렀을 때 안보이게 */
        transform: translateX(105%);
        /* transform: translateX(5vw); */
        transition: all 400ms ease;
    }
    .navigation.is-active {
        transform: translateX(0);
    }
    .navigation a {
        display: block;
        padding: 1rem;
        transition: all 400ms ease-in-out;
    }
    .navigation a:hover, .navigation a:focus {
        /* 배경색 전환을 부드럽게하고싶다면 또 마우스를 올리는 대상에게 준다. 위! */
        background-color: var(--primary);
    }
    .navigation li {
        /* 색상채도명도알파값 */
        border-bottom: 1px solid hsla(225, 57%, 30%, 0.5);
    }
    .button-close-menu {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        /* 20/16 */
        padding: 0.5rem;
        /* 글자 색 상속받기 */
        color: inherit;
        /* 버튼 배경색 */
        background-color: transparent;
        
        transition: all 400ms ease-in-out;
    }
    /* 모바일에서 작동하지 않는다. */
    .button-close-menu:hover,
    .button-close-menu:focus {
        /* 호버나 포커스되기 전에 걸어주면 된다. 1에서 1.2로 전이되는거니까 */
        transform: scale(1.5);
    }
    .ediya-drink {
        padding: 1.125rem;
    }
}


/* 태블릿 이상 PC까지 ==============================*/
@media screen and (min-width: 768px) {
    .header {
        /* background-color: var(--pink); */
        /* 1920보다 1280유저가 더 많다. 근데80정도 스크롤바40, 양사이트 여유줘서 1200px. or  */
        max-width: 1200px;
        /* 가운데 정렬 */
        margin-left: auto;
        margin-right: auto;
    }
    .brand {
        /* 180/768 */
        /* margin-right: 23.4375%; */
        margin-right: auto;
    }
    .button-open-menu, .button-close-menu {
        display: none;
    }
    .navigation ul {
        display: flex;
        flex-flow: row nowrap;
    }
    .navigation li {
        /* 8/16 */
        margin-left: 0.5rem;
    }
    .is-selected {
        font-weight: 700;
    }
    .navigation a {
        color: var(--blue);
        display: block;
        /* 14/16 */
        padding: 0.875rem 0;
    }
    /* PC-메인 */
    .ediya-drink {
        /* 30/16 */
        padding: 1.875rem 1.125rem;
        max-width: 48rem;
        margin-left: auto;
        margin-right: auto;
    }
    .ediya-menu__item--name::after {
        content: '';
        display: block;
        background-color: black;
        height: 1px;
        margin-top: 10px;
    }
    .ediya-menu__item--name span{
        display: block;
    }
}
