@use './mediaquery' as *;

body{
  @include mobile{
    background-color: yellow;
  }
  @include desktop{
    background-color: green;
  }
}
div{
  @include mobile{
    font-size: 20px;
  }
  @include desktop{
    font-size: 36px;
  }
}
p{
  @include mobile{
    font-weight: 500;
  }
  @include desktop{
    font-weight: 900;
  }
}

