@use './../utils' as *;

.table {
    overflow-x: auto;
    &__wrap {
        @include desktop {
            min-width: rem(1000px);
        }
    }
}

// 헤더
.row.table__header {
    @include desktop {
        background-color: $gray;
        font-weight: 600;
        border-top: 1px solid $lightgray;
    }
    @include mobile{
        display: none;
    }
}

// cell을 감싸는 row
.row{
    @include desktop {
        border-bottom: 1px solid $lightgray;
        display: flex;
    }
    @include mobile {
        box-shadow: 0 0 5px rgba(57, 57, 57, 0.447);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: rem(20px);
        border-radius: rem(10px);
        position: relative;
        margin: rem(10px) rem(10px) rem(20px);
    }
}

// .row하위에 속하는 개별 .cell
.cell {
    @include desktop {
        display: inline-block;
        padding: rem(10px) rem(5px);

        &:first-child,
        &:nth-child(2) {
            width: 15%;
        }
        &:nth-child(3) {
            width: 40%;
        }
        &:nth-child(4) {
            width: 20%;
        }
        &:nth-child(5) {
            width: 10%;
        }
    }
    @include mobile {
        &.name, &.number, &.address {
            padding: rem(5px) 0;
            margin-left: rem(80px);
            color: #828282
        }
        &.name::before { // 크로스 호환을 위해서는 : 한개만.
            @include cardContent('주문자');
        }
        &.number::before {
            @include cardContent('연락처');
        }
        &.address::before {
            @include cardContent('주소');
        }
        &.menu {
            order: -1;
            padding: rem(35px) 0 rem(15px);
            font-size: rem(20px);
            font-weight: bold;
        }
    }
}

// 결제 방식
.row__result {
    @include mobile {
        position: absolute;
        color: white;
        order: -2;
        background-color: black;
        padding: rem(5px) rem(10px);
        font-size: rem(12px);
        border-radius: 5px;
        &.complete {
            background-color: $red;
        }
    }

    @include desktop {
        &.complete {
            color: $red;
        }
    }
}
